@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

body{
    margin: 0;
    font-family: 'montserrat';
}

.navbar-container{
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #08192d;
    height: 100px;
}

.surat{
    height: 25px;
}

.navbar-items{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
}

.navbar-items > p {
    transition: 400ms;
}

.home-item:hover, .contact-item:hover, .news-item:hover, .pages-item:hover, .about-item:hover{
    color: #fc0254;
    cursor: pointer;
}

.login-container{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.help-item{
    color: #979aa5;
    border-right: 2px solid white;
    padding-right: 20px;
    cursor: pointer;
}

.account-item{
    color: #fc0254;
    cursor: pointer;
}

.login-item{
    cursor: pointer;
}

.main-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 70px;
    height: calc(100vh - 100px);
    background-color: #0a183d;
}

.main-big-text{
    font-size: 70px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.pink{
    color: #fc0254;
}

.main-left-part{
    max-width: 475px;
}

.main-text{
    font-size: 15px;
    color: white;
    line-height: 25px;
}

.buttons-container{
    display: flex;
    gap: 15px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 63px;
    border-radius: 50px;
    background-color: #383b70;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: uppercase; 
}

.pink-button{
    background-color: #fc0254 !important;
}

.second-section{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 105px 0;
}

.second-section-right{
    width: 38vw;
}

.second-section > h2{
    margin: 0;
    width: 40vw;
    font-size: 60px;
    color: #0a183d;
    font-weight: 600;
}

.second-section-right > p, .third-section-card > p{
    font-size: 15px;
    color: #6a7080;
    line-height: 29px;
    font-weight: 500;
}

.third-section{
    padding: 105px 0;
    background-image: url('./images/how-to-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.third-title {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.content{
    margin: 0 auto;
    max-width: 1176px;
}

.third-section-card-container{
    display: flex;
    gap: 30px;
}

.icon-container{
    width: 57px;
    height: 57px;
    background-color: #fc0254;
    border-radius: 100%;
}

.icon-container > img {
    position: relative;
    left: 30px;
    top: 20px;
}

.third-section-card > h2{
    color: white;
    font-weight: 600;
    font-size: 24px;
}